In [3]:
import pandas as pd 
import numpy as np

In [5]:
df = pd.read_csv("heart.csv")

In [9]:
df.head(16)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
5,58,0,0,100,248,0,0,122,0,1.0,1,0,2,1
6,58,1,0,114,318,0,2,140,0,4.4,0,3,1,0
7,55,1,0,160,289,0,0,145,1,0.8,1,1,3,0
8,46,1,0,120,249,0,0,144,0,0.8,2,0,3,0
9,54,1,0,122,286,0,0,116,1,3.2,1,2,2,0
10,71,0,0,112,149,0,1,125,0,1.6,1,0,2,1
11,43,0,0,132,341,1,0,136,1,3.0,1,0,3,0
12,34,0,1,118,210,0,1,192,0,0.7,2,0,2,1
13,51,1,0,140,298,0,1,122,1,4.2,1,3,3,0
14,52,1,0,128,204,1,1,156,1,1.0,1,0,0,0
15,34,0,1,118,210,0,1,192,0,0.7,2,0,2,1

In [7]:
df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,1025.000000,1025.000000,1025.000000,1025.000000,1025.00000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000
mean,54.434146,0.695610,0.942439,131.611707,246.00000,0.149268,0.529756,149.114146,0.336585,1.071512,1.385366,0.754146,2.323902,0.513171
std,9.072290,0.460373,1.029641,17.516718,51.59251,0.356527,0.527878,23.005724,0.472772,1.175053,0.617755,1.030798,0.620660,0.500070
min,29.000000,0.000000,0.000000,94.000000,126.00000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,48.000000,0.000000,0.000000,120.000000,211.00000,0.000000,0.000000,132.000000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,56.000000,1.000000,1.000000,130.000000,240.00000,0.000000,1.000000,152.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,275.00000,0.000000,1.000000,166.000000,1.000000,1.800000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.00000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1025 non-null   int64
 1   sex       1025 non-null   int64
 2   cp        1025 non-null   int64
 3   trestbps  1025 non-null   int64
 4   chol      1025 non-null   int64
 5   fbs       1025 non-null   int64
 6   restecg   1025 non-null   int64
 7   thalach   1025 non-null   int64
 8   exang     1025 non-null   int64
 9   oldpeak   1025 non-null   float64
 10  slope     1025 non-null   int64
 11  ca        1025 non-null   int64
 12  thal      1025 non-null   int64
 13  target    1025 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 112.2 KB

In [12]:
df.shape, df.columns.tolist()

((1025, 14),
 ['age',
  'sex',
  'cp',
  'trestbps',
  'chol',
  'fbs',
  'restecg',
  'thalach',
  'exang',
  'oldpeak',
  'slope',
  'ca',
  'thal',
  'target'])

In [22]:
df.duplicated().sum()
df.isnull().sum()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1025 non-null   int64
 1   sex       1025 non-null   int64
 2   cp        1025 non-null   int64
 3   trestbps  1025 non-null   int64
 4   chol      1025 non-null   int64
 5   fbs       1025 non-null   int64
 6   restecg   1025 non-null   int64
 7   thalach   1025 non-null   int64
 8   exang     1025 non-null   int64
 9   oldpeak   1025 non-null   float64
 10  slope     1025 non-null   int64
 11  ca        1025 non-null   int64
 12  thal      1025 non-null   int64
 13  target    1025 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 112.2 KB

In [26]:
print(df['target'].value_counts())
print(df['target'].value_counts(normalize=True).round(3))

target
1    526
0    499
Name: count, dtype: int64
target
1    0.513
0    0.487
Name: proportion, dtype: float64

In [27]:
df['target'].value_counts()
df['target'].value_counts(normalize=True) * 100

target
1    51.317073
0    48.682927
Name: proportion, dtype: float64

In [28]:
for c in df.columns:
    print(c, df[c].nunique(), sorted(df[c].unique()[:10]))

# Example encoding:
cat_cols = ['sex','cp','fbs','restecg','exang','slope','ca','thal']   # adapt to your dataset's column names
for c in cat_cols:
    if c in df.columns:
        df[c] = df[c].astype('category')
        
# One-hot encode multi-category columns (drop first to avoid multicollinearity)
df = pd.get_dummies(df, columns=[c for c in cat_cols if df[c].nunique()>2], drop_first=True)

age 41 [np.int64(46), np.int64(52), np.int64(53), np.int64(54), np.int64(55), np.int64(58), np.int64(61), np.int64(62), np.int64(70), np.int64(71)]
sex 2 [np.int64(0), np.int64(1)]
cp 4 [np.int64(0), np.int64(1), np.int64(2), np.int64(3)]
trestbps 49 [np.int64(100), np.int64(114), np.int64(120), np.int64(122), np.int64(125), np.int64(138), np.int64(140), np.int64(145), np.int64(148), np.int64(160)]
chol 152 [np.int64(149), np.int64(174), np.int64(203), np.int64(212), np.int64(248), np.int64(249), np.int64(286), np.int64(289), np.int64(294), np.int64(318)]
fbs 2 [np.int64(0), np.int64(1)]
restecg 3 [np.int64(0), np.int64(1), np.int64(2)]
thalach 91 [np.int64(106), np.int64(116), np.int64(122), np.int64(125), np.int64(140), np.int64(144), np.int64(145), np.int64(155), np.int64(161), np.int64(168)]
exang 2 [np.int64(0), np.int64(1)]
oldpeak 40 [np.float64(0.0), np.float64(0.8), np.float64(1.0), np.float64(1.6), np.float64(1.9), np.float64(2.6), np.float64(3.0), np.float64(3.1), np.float64(3.2), np.float64(4.4)]
slope 3 [np.int64(0), np.int64(1), np.int64(2)]
ca 5 [np.int64(0), np.int64(1), np.int64(2), np.int64(3), np.int64(4)]
thal 4 [np.int64(0), np.int64(1), np.int64(2), np.int64(3)]
target 2 [np.int64(0), np.int64(1)]

In [38]:
df.head(222)

,age,sex,trestbps,chol,fbs,thalach,exang,oldpeak,target,cp_1,...,ca_1,ca_2,ca_3,ca_4,thal_1,thal_2,thal_3,age_bin_35-50,age_bin_50-65,age_bin_65+
0,-0.268437,1,-0.377636,-0.659332,0,0.821321,0,-0.060888,0,False,...,False,True,False,False,False,False,True,False,True,False
1,-0.158157,1,0.479107,-0.833861,1,0.255968,1,1.727137,0,False,...,False,False,False,False,False,False,True,False,True,False
2,1.716595,1,0.764688,-1.396233,0,-1.048692,1,1.301417,0,False,...,False,False,False,False,False,False,True,False,False,True
3,0.724079,1,0.936037,-0.833861,0,0.516900,0,-0.912329,0,False,...,True,False,False,False,False,False,True,False,True,False
4,0.834359,0,0.364875,0.930822,1,-1.874977,0,0.705408,0,False,...,False,False,True,False,False,True,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217,-1.481512,1,-0.663216,-1.725899,0,1.430162,0,-0.912329,1,True,...,False,False,False,False,False,True,False,True,False,False
218,-0.930114,1,0.479107,1.260488,0,-1.266135,1,0.620264,0,False,...,False,True,False,False,False,False,True,True,False,False
219,-0.047877,1,-0.548984,0.775685,0,-1.440090,1,1.812281,0,False,...,False,True,False,False,False,True,False,False,True,False
220,0.282961,0,-0.092055,-0.193921,0,1.082252,0,-0.912329,0,True,...,True,False,False,False,False,True,False,False,True,False
221,0.944639,1,-0.092055,0.155137,0,-0.091941,0,0.279688,0,False,...,True,False,False,False,False,False,True,False,True,False

In [37]:
from sklearn.preprocessing import StandardScaler

num_cols = ["age", "trestbps", "chol", "thalach", "oldpeak"]

scaler = StandardScaler()
df[num_cols] = scaler.fit_transform(df[num_cols])

In [40]:
df[num_cols].describe()

                age      trestbps          chol       thalach       oldpeak
count  1.025000e+03  1.025000e+03  1.025000e+03  1.025000e+03  1.025000e+03
mean  -3.431402e-16 -7.036106e-16 -3.466062e-18 -4.332578e-16 -2.426243e-16
std    1.000488e+00  1.000488e+00  1.000488e+00  1.000488e+00  1.000488e+00
min   -2.804866e+00 -2.148237e+00 -2.327054e+00 -3.397080e+00 -9.123291e-01
25%   -7.095548e-01 -6.632165e-01 -6.787242e-01 -7.442713e-01 -9.123291e-01
50%    1.726817e-01 -9.205458e-02 -1.163527e-01  1.255019e-01 -2.311765e-01
75%    7.240794e-01  4.791073e-01  5.623715e-01  7.343432e-01  6.202642e-01
max    2.488552e+00  3.906079e+00  6.166694e+00  2.299935e+00  4.366603e+00

In [41]:
df = df.astype(int)

In [42]:
df.head()

,age,sex,trestbps,chol,fbs,thalach,exang,oldpeak,target,cp_1,...,ca_1,ca_2,ca_3,ca_4,thal_1,thal_2,thal_3,age_bin_35-50,age_bin_50-65,age_bin_65+
0,0,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,1,0
1,0,1,0,0,1,0,1,1,0,0,...,0,0,0,0,0,0,1,0,1,0
2,1,1,0,-1,0,-1,1,1,0,0,...,0,0,0,0,0,0,1,0,0,1
3,0,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,1,0,1,0
4,0,0,0,0,1,-1,0,0,0,0,...,0,0,1,0,0,1,0,0,1,0

In [44]:
df.to_csv("processed_churn_data.csv", index=False)